
.pokemon-tinder-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;

}
.pokemon-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 660px;
  height: 700px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: grab;
}

.pokemon-card-container:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.pokemon-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 1.5rem;
  padding: 10px;
}

.pokemon-types {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pokemon-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  padding: 5px;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.grass {
  background-color: #9bcc50;
}

.poison {
  background-color: #b97fc9;
}

.fire {
  background-color: #fd7d24;
}

.flying {
  background-color: #3dc7ef;
}

.water {
  background-color: #4592c4;
}

.bug {
  background-color: #729f3f;
}

.normal {
  background-color: #a4acaf;
}

.electric {
  background-color: #eed535;
}

.ground {
  background-color: #ab9842;
}

.fighting {
  background-color: #d56723;
}

.psychic {
  background-color: #f366b9;
}

.rock {
  background-color: #a38c21;
}

.ghost {
  background-color: #7b62a3;
}

.ice {
  background-color: #51c4e7;
}

.dragon {
  background-color: #f16e57;
}

.steel {
  background-color: #9eb7b8;
}



